<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<!-- Flash messages -->
<%- messages() %>

<!-- Validation errors -->
<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form id="deleteVehicleForm" class="delete-vehicle-form" action="/inv/delete" method="post">
  <fieldset>
    <legend>Vehicle Details</legend>

    <div class="delete-vehicle-layout">
      <figure class="delete-vehicle-media">
        <img src="<%= locals.inv_image %>"
             alt="<%= locals.inv_make %> <%= locals.inv_model %>">
      </figure>

      <div class="delete-vehicle-info">
        <input type="hidden" name="inv_id" value="<%= locals.inv_id %>">

        <label for="inv_make">Make:</label>
        <input id="inv_make" name="inv_make" value="<%= locals.inv_make %>" readonly>

        <label for="inv_model">Model:</label>
        <input id="inv_model" name="inv_model" value="<%= locals.inv_model %>" readonly>

        <label for="inv_year">Year:</label>
        <input id="inv_year" name="inv_year" value="<%= locals.inv_year %>" readonly>

        <label for="inv_price">Price:</label>
        <input id="inv_price" name="inv_price" value="<%= locals.inv_price %>" readonly>

        <button type="submit" class="rbtn danger">Delete Vehicle</button>
      </div>
    </div>
  </fieldset>
</form>

<!-- Link to the inv-update JavaScript -->
<script src="/js/inv-update.js"></script>
<script src="/js/form-validation.js"></script>
